<div class="container mx-auto my-5">
    <div class="grid grid-cols-12 gap-4">
        <div class="xl:col-span-8 xl:col-start-2">
            <div class="flex flex-wrap">
                <h1 class="mb-4">Pokedex</h1>
                <div *ngFor="let pokemon of pokemons; let i = index" class="md:col-span-6">
                    <div class="p4 mb-3  shadow-md rounded-lg" [ngClass]="getType(pokemon)" [routerLink]="['/view',pokemon.name]">
                        <div class="p-4">
                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-7 sm:col-span-8">
                                    <h3 class="text-xl font-semibold mb-2">{{pokemon.name | titlecase}}</h3>
                                    <span *ngFor="let type of pokemon.types" class="inline-block border rounded-full mr-1  py-1 px-3 text-black"  [ngClass]="getType(pokemon)">{{type.type.name | titlecase}}</span>
                                </div>
                                <div class="col-span-5 sm:col-span-4">
                                    <img src="https://raw.githubusercontent.com/PokeApi/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png" alt="pokemon" class="w-full h-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="sm:text-center">
            <button class="px-4 py-2 ml-28 h-[40px] w-fit text-sm bg-gray-500 text-white rounded-full hover:bg-gray-600" (click)="loadmore()">
        
                    {{loading ? 'Loading...':'Load More'}}
            </button>

        </div>
    </div>
</div>
<router-outlet></router-outlet>